#header {
  width: 100%;
  padding: space-large;
  text-align: center;
}
#header .site-title {
  padding: 10px 0 0;
}
#header .site-title h1 {
  margin: 0;
  font-size: font-title;
  color: #902818;
  font-family: 'Sorts Mill Goudy', -apple-system, 'Times New Roman', serif;
}
#header .header-divider {
  height: 3px;
  margin: 15px auto;
  display: block;
  border-top: 1px solid #902818;
  border-bottom: 1px solid #902818;
  box-sizing: border-box;
  max-width: 800px;
  width: auto;
}
#header .menu {
  line-height: 1;
  white-space: nowrap;
}
position relative {
  padding-bottom: 15px;
}
.menu--right {
  float: right;
}
.menu--right .menu__item {
  font-size: font-smallest;
  margin: 0 space-base;
}
.menu__item {
  font: font-normal/1 header-font;
  color: #902818;
  margin: 0 space-large;
  display: inline-block;
}
.menu__item:hover {
  color: font-color-light;
}
@media screen and (max-width: 768px) {
  #header .menu__item {
    font-size: 1.2rem;
  }
}
