.block {
  margin: space-large 0;
}
.block__item {
  margin-bottom: space-larger;
}
.block__title {
  display: block;
  color: font-color-dark;
  font-weight: bold;
  font: font-largest/1.5 title-font;
  margin-bottom: space-base;
  letter-spacing: 1px;
}
.block__title:hover {
  text-decoration: underline;
}
.block__date {
  font: bold font-normal/2.5 aside-font;
  color: #902818;
  letter-spacing: 2px;
}
.block__description,
.block__excerpt {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font: font-normal/1.75 text-font;
  letter-spacing: 5px;
}
.block__more {
  display: block;
  font: bold 1.8rem/1.5 title-font;
  color: font-color-normal;
  margin: space-large 0;
  letter-spacing: 2px;
}
.block__more:hover {
  color: font-color-light;
}
@media screen and (max-width: 1200px) {
  .block__title {
    font-weight: bold;
    font-size: 1.8rem;
  }
}
